name: travel_planner

services:
  mongo:
    image: mongo:7
    container_name: travel_planner_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - travel_planner_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    container_name: travel_planner_api
    restart: unless-stopped
    environment:
      MONGO_URI: mongodb://mongo:27017
      MONGO_DB: travel_planner
    ports:
      - "4567:4567"
    depends_on:
      - mongo
    networks:
      - travel_planner_network

volumes:
  mongo_data:
    driver: local

networks:
  travel_planner_network:
    driver: bridge
